<section id="wrapper">
    <div class="login-register" style="background-image:url(../assets/images/background/login-register.jpg);">
        <div class="login-box card">
            <div class="card-body">
                <form (ngSubmit)="enviarDatosLogueo()" [formGroup]="formLogin" class="form-horizontal form-material" id="loginform" action="index.html">
                    <h3 class="box-title m-b-20">Iniciar Sesión</h3>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input formControlName="nombreUsuario" class="form-control" type="text" required=""
                                placeholder="Nombre Usuario">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input formControlName="pass" class="form-control" type="password" required=""
                                placeholder="Password">
                        </div>
                    </div>

                    <div class="form-group text-center">
                        <div class="col-xs-12 p-b-20">
                            <button [class.cursor-prohibido]="formLogin.invalid" [disabled]="formLogin.invalid" class="btn btn-block btn-lg btn-info btn-rounded" type="submit">Entrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>